# Database Configuration
POSTGRES_USER=glassflow_user
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=glassflow_db

# Backend Configuration (Optional if overriding default DATABASE_URL in docker-compose)
# DATABASE_URL=postgresql://glassflow_user:securepassword@db:5432/glassflow_db
